<h1>Edit a movie</h1>

<p> <%= link_to 'All Movies' , movies_path %> </p>

<%= form_for @movie, local:true do |form| %>

    <p> Director:
    <%= form.text_field :director %>
    </p>

    <p> Title:
    <%= form.text_field :title %>

    <p> Rating:
    <%= form.text_field :rating %>
    </p>

    </p>

    <p>
    <%= form.submit %>
    </p>


    <% end %>