<h1> Edit a movie </h1>
   <p> <%= link_to 'View movie' , movies_path %></p>
<%= form_for @movie, local: true do |form| %>
    <p> 
    <%= form.text_field :title %>
    </p>
     <p> 
    <%= form.text_field :director %>
    </p>
    <p> 
    <%= form.submit %>
    </p>
    <% end %>