<h1> Create a new movie </h1>

<p> <%= link_to 'Back to index' , movies_path %></p>

<%= form_with scope: :movie, url: '/movies', local: true do |form| %>
<p> 
  director: 
 <%= form.text_field :director %>
</p>

<p> 
 title: 
 <%= form.text_field :title %>
</p>

<p> 
 rating: 
 <%= form.text_field :rating %>
</p>

<p> 
 <%= form.submit %>
</p>

<% end %>