<p id="notice"><%= notice %></p>

<h2>
  <strong>Title:</strong>
  <%= @movie.title %>
</h2>

<h3>
  <strong>Director:</strong>
  <%= @movie.director %>
</h3>

<h4>Reviews</h4>
<% @movie.reviews.each do |review| %>
  <p>Reviewer: <%=review.reviewer%></p>
  <p>Review: <%=review.body%></p>
  <p>Rating: <%=review.rating%></p>
<% end %>

<h4>Add a review</h4>
<%= form_with(model: [@movie, @movie.reviews.build], local: true) do |form| %>
  <p>
    <%= form.label :reviewer %><br>
    <%= form.text_field :reviewer %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
