<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
  <%= yield %>
 
  <nav>
  <ul>
  <li>
  <%= link_to 'Books', books_path %>
  </li>
  <li>
  <%= link_to 'Movies', movies_path %>
  </li>
  <li>
  <%= link_to 'Articles',articles_path %>
  </li>
  <li>
  <%= link_to 'Ingredients', ingredients_path %>
  </li>
 
  <li>
  <%= link_to 'Paintings',  paintings_path %>
  </li>
  </ul>

  </nav>
    
  </body>
</html>
