<ul> 
  <li> <%= @ingredient.name %> </li>
  <li> <%= @ingredient.unit %> </li>
  <li> <%= @ingredient.amount %> </li>
  <li> <%= @ingredient.purchased_on %> </li>
  <li> <%= @ingredient.is_rotten %> </li>
</ul>

   <p> <%= link_to 'View All Ingredients' , ingredients_path %></p>
