<h1>
<%= @ingredient.name %>
</h1>
<h2> <%= @ingredient.unit %> </h2>
<h2> <%= @ingredient.amount %> </h2>
<h2> <%= @ingredient.purchased_on %> </h2>
<h2> <%= @ingredient.is_rotten %> </h2>

<p> <%= link_to 'View All Ingredient', ingredients_path %></p>