<ul>
  <li> Name: <%= @ingredient.name %> </li>
  <li> Unit: <%= @ingredient.unit %> </li>
  <li> Amount: <%= @ingredient.amount %> </li>
  <li> Date: <%= @ingredient.purchased_on %> </li>
  <li> Boolean: <%= @ingredient.is_rotten %> </li>

</ul>

<p> <%= link_to 'View', ingredients_path %> </p>