<ul>
    <li>
        <%= @ingredients.name %> </li>
        <%= @ingredients.unit %> </li>
        <%= @ingredients.amount %> </li>
        <%= @ingredients.purchased_on %> </li>
        <%= @ingredients.is_rotten %> </li>
</ul>
<p> <%= link_to 'View All Ingredient' , ingredient_path %></p>
