<ul>


<li> Name: <%= @ingredient.name %></li>   
<li> Unit: <%= @ingredient.unit %></li>
<li> Amount: <%= @ingredient.amount %></li>
<li> Purchased_on: <%= @ingredient.purchased_on %></li>
<li> Is_rotten: <%= @ingredient.is_rotten %></li>
    
    </ul>

    <p> <%= link_to 'View All Ingredient' , ingredients_path %> </p>