<ul> 
  <li> <%= @ingredients.name %> </li>
  <li> <%= @ingredients.unit %> </li>
  <li> <%= @ingredients.amount %> </li>
  <li> <%= @ingredients.purchased_on %> </li>
  <li> <%= @ingredients.is_rotten %> </li>
</ul>

   <p> <%= link_to 'View All Ingredients' , ingredients_path %></p>
