<h1>ingredient.name</h1>

<ul>
<li> <%= @ingredient.unit%></li>
<li> <%= @ingredient.amount%></li>
<li><%= @ingredient.purchased_on %></li>
<li> <%= @ingredient.is_rotten %></li>
<p><%= link_to 'All ingredients' , ingredients_path %></p>
</ul>