<ul>
<li><%= @ingredient.name %> </li>
<li> <%= @ingredient.amount%> </li>
<li> <%= @ingredient.is_rotten%> </li>
<li> <%= @ingredient.purchased_on%> </li>

</ul>

<p> <%= link_to  "view all ingredients", ingredients_path %> </p>