<h2>Edit a book</h2>

<p> <%= link_to 'View All Books', books_path %></p>

<%= form_for @book, local: true do |form| %>
    <p>
       <%= form.text_field :title %>
    </p>
    <p>
       <%= form.text_field :author %>
    </p>
    <p>
       <%= form.submit %>
    </p>
<% end %>