<h1>Hello</h1>
<p> <%= link_to 'Create a book', books_new_path %></p>
<% @books.each do |book|  %>
    <h2> <%= book.title %> </h2>
    <h2> <%= book.author %> </h2>
    <p> <%= link_to 'View' , book_path(book) %></p>
    <p> <%= link_to 'Edit' , books_edit_path(book) %></p>
    <p> <%= link_to 'Delete' , book_path(book), method: :delete,
    data: {confirm: 'Are you sure ?' } %></p>
    <% end %>
